<% if @comment.errors.any? %>
<!-- // Render new review form with errors -->
  $('#new_comment').html("<%= j render 'comments/form', article: @article, comment: @comment %>");
<% else %>

  <!-- // Create a paragraph for the new review. But hide it. -->
  var new_comment= $("<%= j render 'comments/show', comment: @comment %>").hide();
  <!-- // Add it to the DOM, at the end of the existing reviews. It's still hidden. -->
  $('.commentlist-<%= @article_id%>').append(new_comment);
  <!-- // Show the new review with an animation! -->
  new_comment.slideDown();
  <!-- // empty the form -->
  $('#comment_content').val('');
  <!-- //remove errors -->
  $('.comment_content').removeClass('has-error');
  $('.help-block').hide();
<% end %>
