<%if @article.errors.any?%>
  <% @article.errors.full_messages.each do |message| %>
    <%if message == "Title is too short (minimum is 8 characters)"%>
      <%@too_short = message%>
    <%elsif message == "Url seems to be invalid"%>
      <%@urlinvalid = message%>
    <%elsif message == "Description is too short (minimum is 10 characters)"%>
      <%@description = message%>
    <%else%>
      <%@other_error= message%>
    <%end%>
    <%end%>
<%end%>

  <div class="modal-dialog" role="document" data-topicid=<%= @topic.id %>>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Add your article</h4>
      </div>
     <%= form_for [@topic, @article], html: {class: "form-horizontal newarticle-form", role:"form", remote:true} do |f| %>


        <div class="modal-body">
        <div class="form-group <%=@too_short%>">
        <%= f.label :title, class: "control-label col-sm-2 field_with_errors" %>
        <div class="col-sm-10">
         <%= f.text_field :title, class: "form-control" %>
         <span class="help-block"><%=@too_short%></span>
        </div>
      </div>

      <div class = "form-group <%=@urlinvalid%>">
        <%= f.label :url, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
          <%= f.text_field :url, class: "form-control" %>
          <span class="help-block"><%=@urlinvalid%></span>
      </div>
    </div>
    <div class="form-group <%=@description%>">
      <%= f.label :description, class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_area :description, class: "form-control", rows:3 %>
        <span class="help-block"><%=@description%></span>
      </div>
    </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= f.submit "Submit", class: "btn btn-success"%>
      </div>
    </div>
  </div>
  <% end %>
</div>




