  <div class="article-form">
          <h1>Edit your article here</h1>

          <%= form_for [@topic, @article] do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            <br>
            <%= f.label :url %>
            <%= f.text_field :url %>
            <br>
            <%= f.label :description %>
            <%= f.text_field :description %>
            <br>

            <%= f.submit "Submit", class: "btn btn-success" %>
          <% end %>
  </div>

