<div class="container">
  <div class="row">
   <div class=" col-sx-12 col-md-12 col-lg-12 col-md-offset-5 col-lg-offset-5 col-xs-offset-3">
    <%= image_tag @user.picture, class: "profile-picture" %>
    <h3 class="username"><%= @user.first_name %> <%= @user.last_name %> </h3>
    <button type="button" id="profile-button" class="btn btn-secondary-outline">edit profile</button>

   </div>
  </div>
</div>

<div class="container">
  <div class="row">
   <div class=" col-sx-12 col-md-12 col-lg-12">
      <hr id="profileline">
    </div>
  </div>
</div>


<div class="container" id="userarticles">
  <div class="row">

    <div class="useraritcles col-sx-12 col-md-6 col-lg-12" >
      <div class ="row">
        <div class= "col-sx-12 col-md-4 col-lg-4 col-md-offset-2 col-lg-offset-2 col-xs-offset-3">
          <h4> Recently added articles</h4>
          <%@user.articles.each do |article| %>
          <%= render 'shared/profilearticles', article: article %>
            <%end%>
        </div>
        <div class= "col-sx-12 col-md-4 col-lg-4 col-md-offset-2 col-lg-offset-2 col-xs-offset-3">
          <h4> Your readinglist</h4>
          <%@user.articles.each do |article| %>
          <%= render 'shared/profilearticles', article: article %>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>


