<% if notice %>
  <div id="alert">
    <a class="alert alert-info" href="#alert"><%= notice %></a>
  </div>
<% end %>

<% if alert %>
 <div id="alert">
    <a class="alert alert-warning" href="#alert"><%= alert %></a>
  </div>
<% end %>

<%= content_for :after_js do %>
  <script type="text/javascript">
     $(document).ready(function() {
      $("#alert").fadeOut(6000);
   });

  </script>
<% end %>
