
<!-- <hr class="cardline"> -->
<div class="card" id="topic-card">
  <div class="image-block">
    <%= image_tag(topic.picture.url, class: "card-img-top") %>
  </div>

  <div class="card-block">

    <h4 class="card-title"><%= link_to "#{topic.name}", topic_articles_path(topic.id)%></h4>

    <p class="card-text"><%= topic.description %></p>

  </div>
</div>
